<div class="container">
  <div class="filters">
    <a class="button">Head</a>
    <a class="button">Arm</a>
    <a class="button">Torsos</a>
    <a class="button">Bases</a>
    <a class="button">All</a>
  </div>
  <ul class="products">
    <li class="product-item" *ngFor="let product of products">
      <div class="product">
        <div class="product-details">
          <img
            class="product-image"
            src="{{ product.imageName }}"
            [alt]="product.name"
          />
          <div class="product-info">
            <div class="name">{{ product.name }}</div>
            <div class="product-description">{{ product.description }}</div>
            <div class="product-catagory">
              Part Type: {{ product.catagory }}
            </div>
          </div>
        </div>

        <div class="price">
          <div>${{ product.price.toFixed(2) }}</div>
          <button class="cta">Buy</button>
        </div>
      </div>
    </li>
  </ul>
</div>
