<div class="container">
  <div class="filters">
    <a class="button" (click)="filter = 'Head'">Head</a>
    <a class="button" (click)="filter = 'Legs'">Legs</a>
    <a class="button" (click)="filter = 'Arms'">Arms</a>
    <a class="button" (click)="filter = 'Torso'">Torso</a>
    <a class="button" (click)="filter = 'All'">All</a>
  </div>
  <ul class="products">
    <li class="product-item" *ngFor="let product of getFilteredProducts()">
      <div class="product">
        <div class="product-details">
          <img
            class="product-image"
            src="{{ product.imageName }}"
            [alt]="product.name"
          />
          <div class="product-info">
            <div class="name">{{ product.name }}</div>
            <div class="product-description">{{ product.description }}</div>
            <div class="product-catagory">
              Part Type: {{ product.catagory }}
            </div>
          </div>
        </div>

        <div class="price">
          <div *ngIf="product.discount === 0">
            {{ product.price | currency: "EUR" }}
          </div>
          <div class="discount" *ngIf="product.discount > 0">
            <!-- s tag is used to strike through the original price -->
            <s class="original-price">{{ product.price | currency: "EUR" }}</s>
            <div>
              {{ product.price * (1 - product.discount) | currency: "EUR" }}
            </div>
          </div>
          <button class="cta">Buy</button>
        </div>
      </div>
    </li>
  </ul>
</div>
