.bold {
  font-weight: bold;
}
.container {
  display: flex;
  flex-direction: column;
}

.products {
  margin: 0 100px;
  border-top: 2px solid #ce9ad4;
}
.product-item {
  border-bottom: 2px solid #ce9ad4;
  list-style: none;
}

//Filter buttons
.filters {
  display: flex;
  justify-content: space-between;
  padding: 25px 150px;
  font-size: 20px;
}
.button {
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;
  background-color: rgb(148, 180, 201);
  border: 1px solid #ccc;
  cursor: pointer;
}

.button.active {
  background-color: #daa3e0;
  border: none;
}
.button:hover {
  background-color: #c85fd4;
  color: white;
}
