<div class="container">
  <div class="filters">
    <a
      class="button"
      [class.active]="filter === 'Head'"
      (click)="filter = 'Head'"
      >Head</a
    >
    <a
      class="button"
      [class.active]="filter === 'Legs'"
      (click)="filter = 'Legs'"
      >Legs</a
    >
    <a
      class="button"
      [class.active]="filter === 'Arms'"
      (click)="filter = 'Arms'"
      >Arms</a
    >
    <a
      class="button"
      [class.active]="filter === 'Torso'"
      (click)="filter = 'Torso'"
      >Torso</a
    >
    <a class="button" [class.active]="filter === 'All'" (click)="filter = 'All'"
      >All</a
    >
  </div>
  <ul class="products">
    <li class="product-item" *ngFor="let product of getFilteredProducts()">
      <app-product-details [product]="product"></app-product-details>
    </li>
  </ul>
</div>
