<div class="container">
  <div class="hero"></div>

  <div class="promoted">
    <img
      class="promo-imag"
      src="assets/images/robot-head.jpeg"
      alt="Friendly Robot Head"
    />
    <div class="promo-text">
      <div class="promo-main-text">DISPELL THE ROBOTS APOCALYPSE MYTH</div>
      <div class="promo-sub-text cta">
        <div>SAVE 20% FROM OUR FRIENDLIEST</div>
        <div>ROBOT HEADS</div>
      </div>
    </div>
    <img
      class="promo-imag"
      src="assets/images/robot-head.jpeg"
      alt="Friendly Robot Head"
    />
  </div>
  <ul class="robot-parts-cta">
    <li>
      <a>
        <img
          class="robot-part"
          src="assets/images/robot-head.jpeg"
          alt="Robot Head"
        />
        <div>Robot Head</div>
      </a>
    </li>
    <li>
      <a>
        <img
          class="robot-part"
          src="assets/images/robot-arm.jpeg"
          alt="Robot Arm"
        />
        <div>Robot Arm</div>
      </a>
    </li>
    <li>
      <a>
        <img
          class="robot-part"
          src="assets/images/robot-leg.jpeg"
          alt="Robot Leg"
        />
        <div>Robot Leg</div>
      </a>
    </li>
  </ul>
</div>
